{% load static %}
{% load i18n static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Заказы</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'manager/css/style.css' %}">
</head>
<body>
<div class="body">

    <!--

    {% if not is_popup %}
         Header
    {% block header %}
    <div id="header">
        <div id="user-tools">
            <div class="menu-side-bar"></div>

            {% block welcome-msg %}
                {% translate 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}

            <button onclick="myFunction()" class="dropbtn">{% firstof user.get_short_name user.get_username %} ˅</button>
            <div class="dropdown-content" id="myDropdown">
                {% block userlinks %}
                    {% if site_url %}

                        <a href="{{ site_url }}">{% translate 'View site' %}</a>

                    {% endif %}
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}

                            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a>

                        {% endif %}
                    {% endif %}
                    {% if user.has_usable_password %}

                    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a>

                    {% endif %}

                    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                        {% csrf_token %}
                        <button type="submit">{% translate 'Log out' %}</button>
                    </form>

                {% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
        END Header
    {% block nav-breadcrumbs %}
      <nav aria-label="{% translate 'Breadcrumbs' %}">
        {% block breadcrumbs %}
          <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
          </div>
        {% endblock %}
      </nav>
    {% endblock %}
    {% endif %}
    -->
    <div class="body-content">
        <div class="side-bar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="{% static 'manager/img/synergy_uneversity.svg' %}" alt="">
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item active">
                <a href="#" class="nav-link" aria-current="page">
                    <i class="fa fa-calendar"></i><h5>Заказы</h5>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-body-emphasis">
                    <i class="fa fa-calendar"></i><h5>Отказы</h5>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-body-emphasis">
                    <i class="fa fa-calendar"></i><h5>Возвраты</h5>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-body-emphasis">
                    <i class="fa fa-user-circle"></i><h5>Клиенты</h5>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-body-emphasis">
                    <i class="fa fa-gauge-high"></i><h5>Дашбоард</h5>
                </a>
            </li class="nav-item">
            </ul>
        </div>


        <div class="block-content-zakazi">
            <h1>Заказы</h1>
            <div class="block-zakazi">
            {% for el in orders %}
                    {% for prod in el.product.all %}
                        <div class="product">{{ prod.exchange }}</div>
                    {% endfor %}
                <div class="manager">{{ el.manager }}</div>
                <div class="client">{{ el.client }}</div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>


    <div class="left-bar">
        <div class="block-new-client">
            <h3>Новый клиент</h2>
            <form action="#" class="form-new-client">
                <input type="text" placeholder="Ник клиента">
                <input type="text" placeholder="Телеграм клиента">
                <button class="btn btn-primary">Добавить клиента</button>
            </form>
        </div>

        <div class="block-new-client">
            <h3>Новая биржа</h2>
            <form action="#" class="form-new-client">
                <input type="text" placeholder="Название биржы">
                <button class="btn btn-primary">Добавить биржу</button>
            </form>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/419032dc53.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'manager/js/main.js' %}"></script>
</body>
</html>